DATABASE_URL="postgresql://vitalis:vitalis2025@localhost:5432/vitalis_center"
DIRECT_URL="postgresql://vitalis:vitalis2025@localhost:5432/vitalis_center"
JWT_SECRET=vitalis_center_jwt_secret_dev
CORS_ORIGIN=http://localhost:4200
PORT=3000
STORAGE_MODE=local

# S3 / MinIO (production)
# STORAGE_MODE=s3
# AWS_REGION=eu-west-3
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# S3_BUCKET=vitalis-center
# S3_ENDPOINT=http://localhost:9000
# S3_PUBLIC_URL=http://localhost:9000/vitalis-center
